
<div class="bs-example" data-example-id="simple-table"> 
    <table class="table table-bordered">
        <caption>Optional table caption.</caption>
        <thead>
            <tr>
                <th>Receita</th> 
                <th>Pessoa</th> 
                <th>Classificação</th> 
                <th>Ações</th> 
            </tr> 
        </thead> 
        <tbody> 
            <tr> 
                <td>Arroz</td> 
                <td>Nathi</td> 
                <td>
                    <img src="app/imgs/full-star.png" alt="Full Star" height="22" width="22">
                    <img src="app/imgs/full-star.png" alt="Full Star" height="22" width="22">
                    <img src="app/imgs/empty-star.png" alt="Full Star" height="22" width="22">
                    <img src="app/imgs/empty-star.png" alt="Full Star" height="22" width="22">
                    <img src="app/imgs/empty-star.png" alt="Full Star" height="22" width="22">
                </td> 
                <td>@mdo</td> 
            </tr> 
            <tr> 
                <td>Macarrão</td> 
                <td>Rapha</td> 
                <td>
                    <img src="app/imgs/full-star.png" alt="Full Star" height="22" width="22">
                    <img src="app/imgs/full-star.png" alt="Full Star" height="22" width="22">
                    <img src="app/imgs/full-star.png" alt="Full Star" height="22" width="22">
                    <img src="app/imgs/full-star.png" alt="Full Star" height="22" width="22">
                    <img src="app/imgs/empty-star.png" alt="Full Star" height="22" width="22">
                </td> 
                <td>@mdo</td> 
            </tr> 
            <tr> 
                <td>Omelete</td> 
                <td>Alguem</td> 
                <td>
                    <img src="app/imgs/full-star.png" alt="Full Star" height="22" width="22">
                    <img src="app/imgs/empty-star.png" alt="Full Star" height="22" width="22">
                    <img src="app/imgs/empty-star.png" alt="Full Star" height="22" width="22">
                    <img src="app/imgs/empty-star.png" alt="Full Star" height="22" width="22">
                    <img src="app/imgs/empty-star.png" alt="Full Star" height="22" width="22">
                </td> 
                <td>@mdo</td> 
            </tr> 
        </tbody> 
    </table> 
</div>
