<form>
    <div class="card-header">
        <span>Incluir nova Receita</span>
    </div>
    <br>

    <div class="form-group">
        <label for="nomeReceita">Nome da Receita :</label>
        <input type="text" class="form-control" id="nomeReceita" placeholder="Nome da Receita">
    </div>
    <div class="form-group">
        <label for="ingredientes">Ingredientes :</label>
        <!--<input type="te" class="form-control" id="ingredientes" placeholder="Ingredientes">-->
        <textarea class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="comoFazer">Como Fazer :</label>
        <input type="text" class="form-control" id="comoFazer" placeholder="Como Fazer">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>